name: Batch

on:
  workflow_dispatch:

jobs:
  run-batch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Execute batch script
        run: |
          sh batch.sh
