name: Bench4

on:
  workflow_dispatch:

jobs:
  bench:
    name: Bench Job
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Preparations
        run: |
          sudo apt update
          sudo apt install -y git build-essential
          _NOEDIT=2 _CHESS960=0 sh build.sh
      
      - name: Execution
        run: |
          GN=1
          LTG=300
          fisher=false sh dlpgn.sh $GN
          ulimit -t $LTG
          ./baeagn 2>&1 &
          wait

