name: Batch

on:
  workflow_dispatch:
    inputs:
      session_time:
        description: 'Session time in seconds'
        required: false
        default: '7200'

jobs:
  run-batch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Execute batch script
        run: |
          sh batch.sh ${{ github.event.inputs.session_time }}
